################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/Guden.Core/DataAccess/config - Kopya
/Guden.Api/obj/Debug/net5.0
/Guden.Business/obj/Debug/net5.0
/Guden.Core/obj/Debug/net5.0
/Guden.DataAccess/obj/Debug/net5.0
/Guden.Entities/obj/Debug/net5.0
/Guden.Entities/obj
/Guden.Entities/bin/Debug/net5.0
/Guden.DataAccess/obj
/Guden.DataAccess/bin/Debug/net5.0
/Guden.Core/obj
/Guden.Api/bin/Debug/net5.0
/Guden.Api/obj
/Guden.Business/bin/Debug/net5.0
/Guden.Business/obj
